@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

input[type='range'] {
  accent-color: #ea943f;
}
